.header {
    background-color: rgba(88,88,200,0.3);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upper-header {
    text-align: center;
}

.lower-header {
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
