body {
    font-family: "Courier New";
    background-color: rgba(209,182,210);
    width: 100%;
}

header, footer {
    background-color: rgb(95,93,121);
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}

#globContainer {
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    font-family: "Helvetica";
    padding: 0.5rem;
}

.headerBtn {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    border: solid;
    border-radius: 4rem;
}

.headerBtn:hover {
    background-color: rgb(245,165,36);
    color: black;
    transition: 0.5s;
}

#headerNavDiv {
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 80%;
    height: auto;
}

#cycleThroughSamples {
    background-color: rgba(209,182,210);
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer; 
}

#previewImage {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
