body {
    font-family: "Courier New";
    background-color: rgba(209,182,210);
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: rgb(95,93,121);
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}

#globContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: "Helvetica";
    padding: 0.5rem;
    text-align: center;
}

.headerBtn {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    border: solid;
    border-radius: 4rem;
}

.headerBtn:hover {
    background-color: rgb(245,165,36);
    color: black;
    transition: 0.5s;
}

#headerNavDiv {
    display: flex;
    justify-content: space-evenly;
}

img {
    min-width: 80%;
    height: auto;
}

#cycleThroughSamples {
    background-color: rgba(209,182,210);
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer; 
}

#previewImage {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.galleryDiv {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    justify-content: space-evenly;
}

nav {
    position: fixed;
    display: block;
    background-color: rgb(95,93,121);
    color: white;
    max-width: 9%;
    height: auto;
    margin-left: 0;
}

nav:hover {
    border: solid;
}

#navContent {
    display: none;
}

.navBtn {
    color: white;
    text-decoration: none;
}
